.comment-header a.link-user,
.topic-full-byline a.link-user,
.topic-info a.link-user {
  margin-right: 18px;
}

.mc-online-indicator {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.mc-online-indicator.loading {
  cursor: wait;
}

.mc-online-indicator.online::before {
  content: '';
  display: block;
  position: absolute;
  left: -13px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
}

.mc-online-indicator.offline::before {
  content: '';
  display: none;
  pointer-events: none;
  cursor: default;
}
